.techNote {
    
    padding : 100px 15px 15px 15px;
    

    article{
        width: 100%;
        height: 300px;
        box-sizing: border-box;
        padding: 15px;

        .aInner{
            width: 100%;
            height: 100%;
            padding: 10px;
            background-color: #ddd;
            border-radius: 15px;
        }
    }
}


.content{

    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 15px;
    overflow: hidden;

    .cLeft{
        width: 300px;
        height: 100%;
        background-color: #ffffff;
        margin-right: 15px;
        .cThumb{
            width: 100%;
            height:100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .cRight{
        flex: 1 1 auto;
        height: 100%;
        background-color: blue;

        .cTitle{
            background-color: lightgreen;
            width: 100%;
            height: 50px;
            box-sizing: border-box;
        }

        .cMain{
            background-color: #ffffff;
            width: 100%;
            height: 200px;
            box-sizing: border-box;
        }
    }
}