/*기본틀*/
* {
    margin: 0px;
    padding: 0px;
}


body {
    font-family: 'Verdana';
    font-size: clamp(15px, 2vw, 22px) !important;
    color: black;
    line-height: 28px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 !important;
    min-width: 1280px;
    overflow: scroll;
}

/*헤더*/
header {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    padding: 10px 30px;
    overflow: hidden;
    background-color: #c0e7f3;
    box-sizing: border-box;
    border-bottom-style: solid;
    position: fixed;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1500;

    div {
        display: flex;
        width: 200px;
        margin: auto 0;

        a {
            display: flex;
            text-decoration: none;
            color: black;

            img {
                width: 50px;
                height: 50px;
                margin-right: 20px;
                object-fit: contain;
            }

            p {
                padding: 10px 0;
                display: flex;
            }
        }
    }

    nav {
        width: 800px;
        margin: auto 0;
        display: flex;

        li {
            margin: 0 10px;

            a {
                background-color: none;
                text-decoration: none;
                color: #999999
            }
        }
    }

    .btn-primary,
    .btn {
        background-color: #E6ECF2;
        border: none;
        color: black;
        position: fixed;
        right: 40px;
        top: 25%;
        width: 50px;
        height: 50px;
    }
}

.offcanvasMain {
    width: 300px !important;
    height: 100%;
    background-color: #E6ECF2;
    padding: 150px 0;
    padding-left: 50px;
    margin: 0;
    z-index: 1501;

    a {
        text-decoration: none;
        color: black;
    }

}

article{
    min-width: 1100px;
    width: 60%;
    margin: auto;
}

footer {
    padding-left: 5%;
    padding-top: 15px;
    box-sizing: border-box;
    height: 300px;
    width: 100%;
    background-color: darkgray;
    color: #ddd;

    h2 {
        margin: 15px 0;
    }

    ul {
        padding: 0;

        li {
            list-style: none;
        }
    }

    a {
        color: lightgray;
        text-decoration: none;
    }
}

@mixin aside () {
    width: 250px;
    height: 100vh;
    box-sizing: border-box;
    background-color: #FCD6B3
}

/*네비*/
nav {
    float: right;
    position: relative;

    ul {

        li {
            list-style: none;
            float: left;
            padding: 5px;

            a {
                color: black
            }
        }
    }


}

/*메인*/
#main {
    width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
}

img {
    object-fit: cover;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}


section {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    min-height: 720px;
    height: fit-content;
    margin: 0 auto;
    padding: 0;
    padding-top: 100px;
    box-sizing: border-box;
    position: relative;
    background-color: #ffffff;
}

.gitCommand {
    background-color: lightgray;
    margin: 10px 0;
}